/* index.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

div {
  /* padding: 20px;
  border: 1px solid rgb(0, 0, 0);
  margin: 10px; */
}

h2 {
  margin-top: 0;
}

/* Remove text decoration (such as underlines) from all anchor tags */
a {
  text-decoration: none; /* Removes any text decoration (underlines) from links */
  color: inherit; /* Optionally set the link color to inherit the color from its parent element */
}


